/*BEGIN: DISHES CSS CONTENT*/

.recipeInput{
    background-color: lightblue;
    border: 5 px solid black;
    text-align: left;
}
.input{
    margin: 2px;
}
.recipeCard{
    background-color: papayawhip;
    border: 5 px solid black;
    text-align: left;
    min-height: 300px;
}


/*END: DISHES CSS CONTENT*/

/*BEGIN MODAL CSS CONTENT*/

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}