.font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
.back-color{
    background-color: #9fd496; 
}
.acc-color{
    background-color: #83e972
}


/*stuff we can take out*/
.acc-color-dark-blue{
    background-color:#112233
}


.acc-color-light-blue{
    background-color:#44BBFF;
}

.font-color {
    color: #112233;   
}

.font-color-red {
    color:#FC575E;
}



/*BEGIN MODAL CSS CONTENT*/

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
/*END MODAL CSS CONTENT*/