<!--<div class="col-sm-2 login" style="height: 50px; ">

</div>-->
<div class="col-sm-2" style="height: 100%;">
    <!--<div class="row">-->
    <div>
        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <!--<img style="text-align: center;" class="media-object" src="assets/images/YeoChef.jpg" alt="...">-->
                </a>
            </div>
            <div>
            </div>
            <div class="media-body">
                <div>
                    <div>
                        <!--<h4>{{famName}}</h4>-->
                    </div>
                    <!--<label>Recipe Dashboard</label>-->
                    <!--<input style="margin-bottom: 5px;" ng-model="famName" type="text">-->
                    <h5 class="media-heading">Total Private Recipes: {{myDishes.length}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 container-fluid">
        <div class="panel">
            <div class="panel-heading">
                <h4 style="margin-top: 10px; margin-bottom: 0px;">
               Recipes by type:               
            </h4></div>
            <div class="panel-body">
                <div style="width=400px; margin-left: 2px;">

                    <nvd3 options="dishTypeOptions" data="dishTypeData"></nvd3>
                </div>
                <div style="width=400px; margin-left: 2px; margin-top: -150px;">
                    <h4>Recipes Not Categorized:</h4>
                    <ul ng-repeat="myDish in noTypes track by $index">
                        <h5><a style="margin-right: 5px" ng-href="/#/manage-dishes/dish-edit/{{myDish.$id}}">{{myDish["title"]}}</a></h5>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 container-fluid">
        <div class="panel">
            <div class="panel-heading">
                <h4 style="margin-top: 10px; margin-bottom: 0px;">
                Recipes by Star ratings:               
            </h4></div>
            <div class="panel-body">
                <div style="width=400px; margin-left: 2px;">

                    <nvd3 options="starOptions" data="starData"></nvd3>
                </div>
                <div style="width=400px; margin-left: 2px; margin-top: -150px;">
                    <h4>Recipes with no Rating:</h4>
                    <ul ng-repeat="myDish in zeroStars track by $index">
                        <h5><a style="margin-right: 5px" ng-href="/#/manage-dishes/dish-edit/{{myDish.$id}}">{{myDish["title"]}}</a></h5>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>