<div class="col-sm-2 login">
    <!--<form ng-submit="login()">-->
    <div>
        <h4 style="margin-top: 10px; margin-bottom: 0px;">{{familyName}} Resting at the User Profile page</h4>
        <h4>Total Private Recipes: {{myDishes.length}}</h4>
        <!--<ul>
            <li>Change calendar</li>
            <li>Change basic color theme</li>
            <li>planning time in weeks</li>
            <li>Include Deserts?</li>
            <li>Track Nutrition</li>
        </ul>-->

    </div>
</div>
<div class="row" style="height=250px">
    <div class="col-sm-4 container-fluid">
        <div style="width=400px; margin-left: 2px;">
            <h4 style="margin-top: 10px; margin-bottom: 0px;">
               Recipes by type:               
            </h4>
            <nvd3 options="dishTypeOptions" data="dishTypeData"></nvd3>
            <h4>Recipes not categorized:</h4>
                
            <!--<ul style="text-align: left;">-->
                <ul ng-repeat="myDish in noTypes track by $index">
                <h4><a style="margin-right: 5px" ng-href="/#/manage-dishes/dish-edit/{{myDish.$id}}">{{myDish["title"]}}</a></h4>
            </ul>
        </div>
    </div>
    <div class="col-sm-4 container">
        <div style="width=400px">
            <h4 style="margin-top: 10px; margin-bottom: 0px;">
                Recipes by Star ratings:               
            </h4>
            <nvd3 options="starOptions" data="starData"></nvd3>
            <h4>Recipes with no Rating:</h4>
            <ul ng-repeat="myDish in zeroStars track by $index">
                <h4><a style="margin-right: 5px" ng-href="/#/manage-dishes/dish-edit/{{myDish.$id}}">{{myDish["title"]}}</a></h4>
                
        </div>
    </div>
</div>
<!--</div>-->
<div>
    <button ng-click="updateProfile()">Save</button>
    <button ui-sref="home">Go Home</button>
</div>
<!--</form>-->

<!--</div>-->