<div class="col-sm-2 login">
    <!--<form ng-submit="login()">-->
    <div>
        <h4 style="margin-top: 10px; margin-bottom: 0px;">
                Resting at the User Profile page
                
            </h4>
        <ul>
            <li>Notify how many of each entrees</li>
            <li>Notify how many dishes have not been voted on after creation</li>
            <li>Change calendar</li>
            <li>hange basic color theme</li>
            <li>planning time in weeks</li>
            <li>Include Deserts?</li>
            <li>Track Nutrition</li>
        </ul>

    </div>
    <button ng-click=updateProfile()>Save</button>
    <button ui-sref="home">Go Home</button>

</div>
</form>

</div>