<div>
    <h4>Register new user</h4>
    <div>
        <div><label for="">Family Name</label></div>
        <input ng-model="" type="text">
    </div>

    <div>
        <div><label for="">Email</label></div>
        <input ng-model="" type="text">
    </div>

    <div>
        <label for=""> Show Dessert
        <input ng-model="showDessert" type="radio">
        </label>
        <label for="">Do not show dessert
        <input ng-model="showDessert" type="radio">
        </label>
    </div>

    <div>
        <label for=""></label>
        <input ng-model="" type="text">
    </div>

    <div>
        <label for=""></label>
        <input ng-model="" type="text">
    </div>

    <div>
        <label for=""></label>
        <input ng-model="" type="text">
    </div>

    <div>
        <label for=""></label>
        <input ng-model="" type="text">
    </div>

    <div>
        <label for=""></label>
        <input ng-model="" type="text">
    </div>

    <div>
        <label for=""></label>
        <input ng-model="" type="text">
    </div>


</div>