<div class="col-sm-12 align-center">
    
    
<!--Kitchen Manager NAV BAR Start-->

    <div class="panel-body container-fluid">
        <h1>My Recipes</h1>
        <div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="dish in dishes track by $index">{{dish.title}}<span class="badge" ng-click="removeRecipe($index)">X</span><span class="badge" ng-click="editRecipe()">Edit Recipe</span></li>
            </ul>
        </div>
        <button ng-click="testPush()">push to firebase</button>
    </div>
<!--Kitchen Manager NAV BAR End-->
    
    
   <h4>Register new user</h4>
    <div>
        <div>
            <label>Email</label>
        </div>
        <input ng-model="user.email" type="e-mail">
    </div>

    <div>
        <div>
            <label>Password</label>
        </div>
        <input ng-model="user.password" type="password">
    </div>

    <div>
        <div>
            <label for="password2">Confirm Password</label>
        </div>
        <input style="margin-bottom: 10px" ng-model="password2" type="text">
    </div>
<button ng-click="register(user)">Submitt Registration</button>
    
</div>
