<!--Kitchen Manager NAV BAR Start-->
<div class="container-fluid">
    <div class="font clearfix back-color">
        <nav class="navbar navbar-default acc-color-dark-blue font-color-red row">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-kitchen-manager">Kitchen Manager</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                </div>
            </div>
        </nav>
    </div>
</div>
<!--Kitchen Manager NAV BAR End-->


<div class="col-sm-12 login">
    <form ng-submit="login(user)">
        <div>
            <h4 style="margin-top: 10px; margin-bottom: 0px;">
                Sign In
            </h4>
            <!--<input class="input" ng-model="user.userName" type="text" placeholder="Enter family login Name">
        </div>-->
        <div>
            <input class="input" ng-model="user.email" type="email" placeholder="email">
        </div>
        <div>
            <input class="input" ng-model="user.password" type="password" placeholder="password">
        </div>
        <button type="submit">Login</button>
        <button ng-click="" ui-sref="home">Temp. Skip to Home</button>
    </form>
        <div>
           <a ui-sref="registration">Not a member? Click here to register for free </a>
            </div>
</div>

