<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">
            <h3>LOGIN</h3>
        </div>
        <form class="form" style="margin-top:10px;" ng-submit="login(user)">
            <div class="form-group">
                <label for="Email">Email:</label>
                <input class="form-control" ng-model="user.email" type="email" placeholder="email">
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input class="form-control" ng-model="user.password" type="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <div class="text-center">
            <a ui-sref="registration">Not a member? Click here to register for free </a>
        </div>
    </div>
</div>