<div class="col-sm-2">
    <div ng-if="!check" class="text-center fixed-sidebar">
        <div class="sidebar sidebar-left">
            <div class="scrollable">
                <h1 class="scrollable-header app-name">Our Favorites</h1>
                <!--BEGIN NAVBAR SECTION-->
                <uib-accordion close-others="oneAtATime">
                    <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                       <div class="scrollable-content">
                            <div class="list-group">
                                <div style=" background-image: url({{dish.img}}); background-color: {{dishcard}}" class="list-group-item dish"
                                    ng-drag="true" ng-drag-start="dragStart(event)" ng-drag-data="dish" ng-repeat="dish in myDishes track by dish.$id" ng-show="group.title.indexOf(dish.type) > -1">
                                <!--ng-drag="true" ng-drag-start="dragStart(event)" ng-drag-data="dish" ng-repeat="dish in myDishes track by dish.$id | filter : dish.type === {{group.title">-->
                                    {{dish.title}} 
                                </div>
                            </div>
                        </div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>


        
        <!--Mobile view start-->
        <div ng-if="check" class="col-sm-12">
            <menu visible="visible" alignment="left">
            <menu-item hash="first-page">First Page></menu-item>
            <menu-item hash="second-page">Second Page></menu-item>
            <menu-item hash="third-page">Third Page></menu-item>
            </menu>
        
            <div ng-repeat="row in grid track by row.id" class="col-sm-12 row">
                <div class="col-sm-2 cellmobile" ng-repeat="cell in row.cells track by cell.id" style="background-color: {{cell.header}}" ng-drop="true"
                ng-drop-success="onDragComplete($data, $event, cell)">
                    <h4 >{{cell.name}}</h4>
                    <div class="list-group">
                        <div style="color: black;" class="list-group-item" ng-repeat="dish in cell.dishes track by $index" ng-drag-data="dish" ng-drag="true"
                        ng-drag-success="moveDish($event, cell, $index)">
                            {{dish.title}}
                        </div>
                    </div>
                </div>
        </div>
        <div style="display: inline; margin-top: 15px;">
            <input style="display: inline; width: 600px;"  type="text" ng-model="name" class="form-control">
            <button style="display: inline;text-align: center; margin-top: 10px; margin-bottom: 10px" class="btn btn-primary" ng-click="createGroceryList()">Create Grocery List</button>
            </div>
        </div>
        <!--Mobile view end-->
        
        <!--Non Mobile view-->
        <div ng-if="!check" class="col-sm-10">
          
            <h1 style="text-align: center;">{{famName}} Family Calendar</h1>
            <div ng-repeat="row in grid track by row.id" class="col-sm-12 row">
                <div class="col-sm-2 cell" ng-repeat="cell in row.cells track by cell.id" style="background-color: {{cell.header}}" ng-drop="true"
                ng-drop-success="onDragComplete($data, $event, cell)">
                    <h4 ng-show="cell.hideSm" class="hidden-sm hidden-xs">{{cell.name}}</h4>
                    <h4 ng-show="cell.hideLg">{{cell.name}}</h4>
                    <h4 ng-show="cell.hideLgguts" class="hidden-lg">{{cell.name}}</h4>
                    <div class="list-group">
                        <div style="color: black;" class="list-group-item" ng-repeat="dish in cell.dishes track by cell.id" ng-drag-data="dish" ng-drag="true"
                        ng-drag-success="moveDish($event, cell, $index)">
                            {{dish.title}}
                        </div>
                    </div>
                </div>
        </div>
        <div style="display: inline; margin-top: 15px;">
            <input style="display: inline; width: 600px;"  type="text" ng-model="weekName" class="form-control">
            <button style="display: inline;text-align: center; margin-top: 10px; margin-bottom: 10px" class="btn btn-primary" ng-click="createGroceryList(weekName)">Create Grocery List</button>
            </div>
        </div>
    </div>
</div>
