
.input{
    width: 100px;
}

.cell{
    border: 2px solid black;
    /*min-width: 150px;*/
    min-height: 100px;
    background-color: #f3ede4;
    box-shadow: 13px 13px grey;
    /*display: inline-block;*/
}

.card {
    background-color:white;
    border: 1px solid darkgrey;
    margin-left: 7px;
    width: 255px;
    height: 275px;
    box-shadow: 1px 1px darkgrey;

}

.img-card{

    width:150px; 
    align-content:center; 
    margin:5px
    
    
}

.temp {
    border: 3px solid black;
}
.dish {
    border: 1px solid black;
    margin: 13px;
}