
.input{
    width: 100px;
}
.cell{
    border: 5px solid black;
    /*width: 150px;*/
    height: 100px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.card {
    background-color:white;
    margin: 10px;
    border: 1px solid black;
    height: 225px;
    width: 225px
    
    
}