<div class="col-sm-12 login">

    <!--<div>
            <h4 style="margin-top: 10px; margin-bottom: 0px;">
                Resting at the Home page<br>
                {{member.email}}
            </h4>

            <button class="btn btn-default" ui-sref="dishCreation">Create a Dish</button>
            <button class="btn btn-default" ui-sref="manageDishes">Manage Dishes</button>
            <button class="btn btn-default" ui-sref="profile">Update Profile</button>
            <button class="btn btn-default" ng-click="test()">test for route</button>
            <input ng-model="g" type="number">
            <button class="btn btn-default" ng-click="makeCalendar(g)">Create Calendar</button>

        </div>-->

    <h1>{{famName}} Family Calendar</h1>
    <div class="row">
        <div class="col-sm-3">
            <div class="row text-center fixed-sidebar">
                <h2>Our Favorites</h2>
                <div class="list-group">
                    <div class="list-group-item" ng-drag="true" ng-drag-start="dragStart(event)" ng-drag-data="dish" ng-center-anchor="true"
                    ng-repeat="dish in myDishes track by $index">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" width="80" ng-src="{{dish.img}}"></img>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    {{dish.title}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div ng-repeat="row in grid" class="col-sm-12">
                <div class="col-sm-2 cell" ng-repeat="cell in row" ng-drop="true" ng-drop-success="onDragComplete($data, $event, cell)">
                    <h4 ng-show="cell.hideSm" class="hidden-sm hidden-xs">{{cell.name}}</h4>
                    <h4 ng-show="cell.hideLg">{{cell.name}}</h4>
                    <h4 ng-show="cell.hideLgguts" class="hidden-lg">{{cell.name}}</h4>
                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="dish in cell.dishes track by $index" ng-drag-data="dish" ng-drag="true" ng-drag-success="moveDish(cell, $index)">
                            {{dish.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  
</div>