
.input{
    width: 100px;
}

.cell{
    border: 2px solid black;
    min-width: 150px;
    max-width: 151px;
    min-height: 100px;
    /*background-color: #f3ede4;*/
    background-color: #ECF0F1;
    box-shadow: 5px 4px rgba(128, 128, 128, 0.26);
    /*display: inline-block;*/
    color: white;
}

/*.card {
    background-color:white;
    /*border: 1px solid darkgrey;*/
    /*margin-left: 7px;
    width: 255px;
    height: 275px;*/
    /*box-shadow: 1px 1px darkgrey;*/

/*}*/

.temp {
    border: 3px solid black;
}

.dish {
    margin: 13px;
    min-height: 80px;
    background-repeat:no-repeat;
    background-position: left;
    background-size:contain;
    padding-left: 100px; 
    padding-top: 0px; 
    padding-right: 4px; 
    color: white; 
    text-align: right; 
    box-shadow: 5px 5px grey; 
}

/*.dish-title{
    text-align: right;
    color: white;
}*/
/* For flex Box*/
.flexbox-parent {
  @include display-flex;
  background: #FFD54F;
  overflow: hidden;
  width: 100%;
  padding: 3px;
  min-height: 550px;
  max-height: 1000px;

  // Flex items
  > div {
    display: inline-block;
    background: white;
    overflow: hidden;
    margin: 3px;
    padding: 5px;

    .child-controls {
      margin-top: 7px;
    }
  }
}

.child-number {
  display: block;
  width: 22px;
  height: 22px;
  background: #FFB300;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-top: 3px;
  text-align: center;
  @include border-radius(50%);
  float: left;
}

.code {
  font-family: Consolas, "Courier New", Monospace;
  font-size: 15px;
}

.remove-child {
  background: transparent;
  color: #FF6F00;
  font-size: 14px;
  cursor: pointer;
}

.highlight {
  color: #FF8F00;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.right-padding {
  padding-right: 15px;
  /*end of flexbox*/