$('#sidebar').affix({
      offset: {
        top: 245
      }
});

var $body   = $(document.body);
var navHeight = $('.navbar').outerHeight(true) + 10;

$body.scrollspy({
	target: '#leftCol',
	offset: navHeight
    
#wrapper {
    margin: 0 0px 0 220px;
    padding: 50px 0;
    background: #eee;
    border-left: 1px solid #e4e5e7;
    transition: all 0.4s ease 0s;
    position: relative;
    min-height: 100%;
}   
.navbar-aside {
    background-color: #282f33;
    border-color: #282f33;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
} 
/*--------accordian navbar---------*/
.accordion {
    padding: 0;
    margin: 0;
}
Style Attribute {
    display: block;
    position: absolute;
    margin: 0px;
    left: 0px;
    right: auto;
    top: 0px;
    bottom: 35px;
    height: 510px;
    z-index: 0;
    width: 242px;
    visibility: visible;
}






});