.weeks{
    margin: 10px;
}
.dessert{
  
    margin: 20px;
}
.desshow{
    margin-right: 15px;
    display: inline;
  
}
.seporator{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
.align-center{
    text-align: center;
}
