input.grocery-list-input-big{
    width: 200px;
}

input.grocery-list-input-small{
    width: 75px;
}

@media only screen and (max-device-width: 480px) {
input.grocery-list-input-big{
    width: 60px
}
	}
   
   
   





/*Grocery-Edit CSS*/

h4{
    display: inline-flex;
}

.store-section{
    color:#2B729E;
    font-size: .8em
}

.btn-custom{
    padding: 6px;
}

.input{
    width
}