<!--MODAL-->
<div class="modal fade" id="nutritionModal" tabindex="-1" role="dialog" aria-labelledby="nutritionModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Clear Form</span>
                </button>
                <h4 class="modal-title" id="nutritionModalLabel">Nutrition Facts:</h4>
            </div>

            <!--Nutrition Modal Body -->
            <div class="modal-body">

                <form role="form">
                    <div class="form-group">
                        <label for="inputServings"># of Servings</label>
                        <input type="number" class="form-control" id="inputServings" placeholder="Enter # of Servings" />
                    </div>
                    <div class="form-group">
                        <label for="inputServingSize">Serving Size</label>
                        <input type="text" class="form-control" id="inputServingSize" placeholder="Enter Serving Size" />
                    </div>
                    <div class="form-group">
                        <label for="inputCalories">Calories</label>
                        <input type="number" class="form-control" id="inputCalories" placeholder="Calories" />
                    </div>
                    <div class="form-group">
                        <label for="inputFatCalories">Calories</label>
                        <input type="number" class="form-control" id="inputFatCalories" placeholder="Calories from Fat" />
                    </div>
                    <div class="form-group">
                        <label for="inputTotalFat">Total Fat</label>
                        <input type="number" class="form-control" id="inputTotalFat" placeholder="Total Fat" />g
                    </div>
                    <div class="form-group">
                        <label for="inputSaturatedFat">Saturated Fat</label>
                        <input type="number" class="form-control" id="inputSaturatedFat" placeholder="Saturated Fat" />g
                    </div>
                    <div class="form-group">
                        <label for="inputTransFat">Trans Fat</label>
                        <input type="number" class="form-control" id="inputTransFat" placeholder="Trans Fat" />g
                    </div>
                     <div class="form-group">
                        <label for="inputCholesterol">Cholesterol</label>
                        <input type="number" class="form-control" id="inputCholesterol" placeholder="Cholesterol" />mg
                    </div>
                    <div class="form-group">
                        <label for="inputSodium">Sodium</label>
                        <input type="number" class="form-control" id="inputSodium" placeholder="Sodium" />mg
                    </div>
                    <div class="form-group">
                        <label for="inputCarbohydrates">Carbohydrates</label>
                        <input type="number" class="form-control" id="inputCarbohydrates" placeholder="Carbohydrates" />mg
                    </div>
                    <div class="form-group">
                        <label for="inputFiber">Dietary Fiber</label>
                        <input type="number" class="form-control" id="inputFiber" placeholder="Dietary Fiber" />g
                    </div>
                    <div class="form-group">
                        <label for="inputSugars">Sugars</label>
                        <input type="number" class="form-control" id="inputSugars" placeholder="Sugars" />g
                    </div>
                    <div class="form-group">
                        <label for="inputProtein">Protein</label>
                        <input type="number" class="form-control" id="inputProtein" placeholder="Protein" />g
                    </div>
                    <div class="form-group">
                        <label for="inputVitA">Vitamin A</label>
                        <input type="number" class="form-control" id="inputVitA" placeholder="Vitamin A" />mg
                    </div>
                    <div class="form-group">
                        <label for="inputVitB">Vitamin B</label>
                        <input type="number" class="form-control" id="inputVitB" placeholder="Vitamin B" />mg
                    </div>
                     <div class="form-group">
                        <label for="inputVitC">Vitamin C</label>
                        <input type="number" class="form-control" id="inputVitC" placeholder="Vitamin C" />mg
                    </div>
                    <div class="form-group">
                        <label for="inputPotassium">Potassium</label>
                        <input type="number" class="form-control" id="inputPotassium" placeholder="Potassium" />mg
                    </div>
                    <div class="form-group">
                        <label for="inputCalcium">Calcium</label>
                        <input type="number" class="form-control" id="inputCalcium" placeholder="Calcium" />mg
                    </div>
                    <div class="form-group">
                        <label for="inputIron">Iron</label>
                        <input type="number" class="form-control" id="inputIron" placeholder="Iron" />mg
                    </div>
                    <div class="form-group">
                        <label for="inputNiacin">Niacin</label>
                        <input type="number" class="form-control" id="inputNiacin" placeholder="Niacin" />mg
                    </div>
                    <div class="form-group">
                        <label for="inputIron">Iron</label>
                        <input type="number" class="form-control" id="inputIron" placeholder="Iron" />mg
                    </div>
                     <div class="form-group">
                        <label for="inputThiamin">Thiamin</label>
                        <input type="number" class="form-control" id="inputThiamin" placeholder="Thiamin" />mg
                    </div>

                    <!--<div class="checkbox">
                        <label>
                            <input type="checkbox" /> Check me out
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>-->
                </form>


            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>





<!-- Post Info -->
<!--<div style='position:fixed;bottom:0;left:0; background:lightgray;width:100%;'>
    About this SO Question:
    <a href='http://stackoverflow.com/q/26562900/1366033'>
        Twitter Bootstap - form in Modal fomatting
    </a><br/>
    Fork This Skeleton Here: 
    <a href='http://jsfiddle.net/KyleMit/kcpma/'>
        Bootstrap 3 Skeleton
    </a><br/>
</div>-->