<!--desktop view-->
<div ng-if="!check">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 panel">
            <!--top media part-->
            <div>
                <div class="media">
                    <!--img-->
                    <div class="media-left media-middle">
                        <img class="media-object our-picture" ng-src="{{dish.img}}" alt="{{dish.title}"> 
                        <h4>Dish Image Url:</h4>
                        <input class="input-custom" ng-model="dish.img" type="url">
                    </div>
                    <!--title-->
                    <div class="media-body text-center">
                        <div>
                            <input class="media-heading media-spacers input-custom" ng-model="dish.title"></input>
                        </div>
                        <!--stars-->
                        <div class="media-spacers">
                             <uib-rating ng-model="dish.stars" rating-states="ratingStates" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>
                        </div>
                        <!--dish type-->
                        <div class="form-group media-spacers">
                            <label>Type of Dish
                                <select ng-model="dish.type" class="form-control">
                                    <option>Breakfast</option>
                                    <option>Appetizer</option>
                                    <option>Salad</option>
                                    <option>Side</option>
                                    <option>Main Dish</option>
                                    <option>Dessert</option>
                                </select>
                        </div>
                        <!--fridge to fork-->
                        <div class="media-spacers">
                            Prep Time:
                            <input class="input-small" ng-model="dish.prepTime" type="number"></input> + Cook Time:
                            <input class="input-small" ng-model="dish.cookTime" type="number"></input>
                            <p> = Fridge to Fork: {{dish.prepTime + dish.cookTime}} minutes</p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <!--ingredients-->
            <div class="col-sm-12 small-spacer">
                <div>
                    <h4 class="col-sm-12 small-spacer">Ingredients:</h4>
                    <div class="col-sm-3" ng-repeat="ingredient in dish.ingredients">
                        <input ng-if="!ingredient.qty && !ingredient.unit" ng-model="ingredient" class="ingredient"></input>
                        <input ng-if="ingredient.qty" ng-model="ingredient.qty" style="width: 50px" class="ingredient"></input>
                        <select ng-if="ingredient.unit" style="width: 100px" ng-model="ingredient.unit" class="form-control ingredient">
                            <option>each</option>
                            <option>pinch</option>
                            <option>piece</option>
                            <option>pack</option>
                            <option>bunch</option>
                            <option>roll</option>
                            <option>dozen</option>
                            <option>lbs</option>
                            <option>pounds</option>
                            <option>qt</option>
                            <option>quart</option>
                            <option>oz</option>
                            <option>ounce</option>
                            <option>pt</option>
                            <option>pint</option>
                            <option>cup</option>
                            <option>tbsp</option>
                            <option>tablespoon</option>
                            <option>tsp</option>
                            <option>teaspoon</option>
                        </select>
                        <input ng-if="ingredient.name" ng-model="ingredient.name" style="width: 200px" class="ingredient"></input>
                    </div>
                </div>
            </div>

            <!--instructions-->
            <hr>

            <div class="col-sm-12">
                <h4>Instructions:</h4>
                <div class="panel-color instructions-spacer">
                    <div ng-model="dish.instructions" summernote></div>
                </div>
            </div>

            <!--nutritional info-->
            <div class="small-spacer">
                <h4 class="col-sm-12 small-spacer">Nutritional Info:</h4>
                <div>
                    <div>
                        <label ng-if="dish.nutritionInfo">Calories:
                            <input class="nutrition-edit" ng-model="dish.nutritionInfo.Calories"></input>
                        </label>
                        <label>Total Fat:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.TotalFat"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[0].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[0].unit"></input>
                        </label>
                        <label ng-if="dish.nutritionInfo">Saturated Fats:
                            <input class="nutrition-edit" ng-model="dish.nutritionInfo.sfat"></input>
                        </label>
                        <label>Cholesterol:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.cholesterol"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[3].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[3].unit"></input>
                        </label>
                        <label>Carbohydrates:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.carbohydrates"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[1].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[1].unit"></input>
                        </label>
                        <label>Protein:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.protein"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[2].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[2].unit"></input>
                        </label>
                        <label ng-if="dish.nutritionInfo">Fiber:
                            <input class="nutrition-edit" ng-model="dish.nutritionInfo.fiber"></input>
                        </label>
                        <label>Sodium:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.sodium"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[4].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[4].unit"></input>
                        </label>
                        <label>Potassium:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.potassium"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[7].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[7].unit"></input>
                        </label>
                        <label>Iron:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.iron"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[8].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[8].unit"></input>
                        </label>
                    </div>
                </div>
            </div>

            <!--update and delete buttons-->
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <button class="btn btn-large btn-blue center-block" ng-click="updateDish(dish)">Update Dish</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-large btn-salmon center-block" ng-click="removeDish(dish)">Delete Dish</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--mobile view-->

<div ng-if="check">
    <div class="row">
        <div class="col-xs-12 panel">
            <div class="media">
                <!--img-->
                <div class="media-middle">
                    <img class="media-object mobile-picture" ng-src="{{dish.img}}" alt="{{dish.title}}"></img>
                    <h4>Dish Image Url:</h4>
                    <input class="input-custom" ng-model="dish.img" type="url">
                </div>
                <!--title-->
                <div class="row align-center">
                    <div>
                        <input class="media-heading media-spacers input-custom" ng-model="dish.title"></input>
                    </div>
                    <!--stars-->
                    <div class="row align-center">
                        <uib-rating ng-model="dish.stars" rating-states="ratingStates" max="max" read-only="isReadonly" on-hover="hoveringOver(value)"
                        on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>
                    </div>
                    <!--type-->
                    <div class="row align-center">
                        <label>Type of Dish
                            <select ng-model="dish.type" class="form-control">
                                <option>Breakfast</option>
                                <option>Appetizer</option>
                                <option>Salad</option>
                                <option>Side</option>
                                <option>Main Dish</option>
                                <option>Dessert</option>
                            </select>
                    </div>
                    <!--fridge to fork-->
                    <div class="media-spacers">
                        Prep Time:
                        <input class="input-small" ng-model="dish.prepTime" type="number"></input> + Cook Time:
                        <input class="input-small" ng-model="dish.cookTime" type="number"></input>
                        <p> = Fridge to Fork: {{dish.prepTime + dish.cookTime}} minutes</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        <hr>

        <!--ingredients-->
        <div class="col-sm-12 small-spacer">
            <div>
                <h4 class="col-sm-12 small-spacer">Ingredients:</h4>
                <div class="col-sm-3" ng-repeat="ingredient in dish.ingredients">
                    <input ng-if="!ingredient.qty && !ingredient.unit" ng-model="ingredient" class="ingredient"></input>
                    <input ng-if="ingredient.qty" ng-model="ingredient.qty" style="width: 50px" class="ingredient"></input>
                    <select ng-if="ingredient.unit" style="width: 100px" ng-model="ingredient.unit" class="form-control ingredient">
                        <option>each</option>
                        <option>pinch</option>
                        <option>piece</option>
                        <option>pack</option>
                        <option>bunch</option>
                        <option>roll</option>
                        <option>dozen</option>
                        <option>lbs</option>
                        <option>pounds</option>
                        <option>qt</option>
                        <option>quart</option>
                        <option>oz</option>
                        <option>ounce</option>
                        <option>pt</option>
                        <option>pint</option>
                        <option>cup</option>
                        <option>tbsp</option>
                        <option>tablespoon</option>
                        <option>tsp</option>
                        <option>teaspoon</option>
                    </select>
                    <input ng-if="ingredient.name" ng-model="ingredient.name" style="width: 200px" class="ingredient"></input>
                </div>
            </div>
        </div>

        <!--instructions-->
        <hr>

        <div class="col-sm-12">
            <h4>Instructions:</h4>
            <div class="panel-color instructions-spacer">
                <div ng-model="dish.instructions" summernote></div>
            </div>
        </div>

        <!--nutritional info-->
        <div class="small-spacer">
            <h4 class="col-sm-12 small-spacer">Nutritional Info:</h4>
            <div>
                div>
                    <div>
                        <label ng-if="dish.nutritionInfo">Calories:
                            <input class="nutrition-edit" ng-model="dish.nutritionInfo.Calories"></input>
                        </label>
                        <label>Total Fat:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.TotalFat"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[0].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[0].unit"></input>
                        </label>
                        <label ng-if="dish.nutritionInfo">Saturated Fats:
                            <input class="nutrition-edit" ng-model="dish.nutritionInfo.sfat"></input>
                        </label>
                        <label>Cholesterol:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.cholesterol"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[3].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[3].unit"></input>
                        </label>
                        <label>Carbohydrates:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.carbohydrates"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[1].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[1].unit"></input>
                        </label>
                        <label>Protein:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.protein"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[2].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[2].unit"></input>
                        </label>
                        <label ng-if="dish.nutritionInfo">Fiber:
                            <input class="nutrition-edit" ng-model="dish.nutritionInfo.fiber"></input>
                        </label>
                        <label>Sodium:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.sodium"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[4].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[4].unit"></input>
                        </label>
                        <label>Potassium:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.potassium"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[7].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[7].unit"></input>
                        </label>
                        <label>Iron:
                            <input ng-if="dish.nutritionInfo" class="nutrition-edit" ng-model="dish.nutritionInfo.iron"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[8].total"></input>
                            <input ng-if="dish.nutrientFacts" class="nutrition-edit" ng-model="dish.nutrientFacts[8].unit"></input>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!--update and delete buttons-->
        <div class="col-sm-12">
            <div class="col-sm-6">
                <button class="btn btn-large btn-blue center-block" ng-click="updateDish(dish)">Update Dish</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-large btn-salmon center-block" ng-click="removeDish(dish)">Delete Dish</button>
            </div>
        </div>
    </div>
</div>
</div>