<div class="panel-body container-fluid">
    <h1>My Dish</h1>
    <div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="dish in myDishes track by $index">
                <a style="margin-right: 5px" ng-href="/#/manage-dishes/{{dish.$id}}">
                {{dish["title"]}}
            </a>
                 <a ng-href="/#/manage-dishes/dish-edit/{{dish.$id}}" class="badge">Edit Dish</a>
            </li>
        </ul>
    </div>
</div>

<!--<h4>Recipe Rating</h4>
<uib-rating ng-model="rate" rating-states="ratingStates" max="max" read-only="isReadonly" on-hover="hoveringOver(value)"
on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
<span class="label" ng-class="{'label-warning': value<=2, 'label-info': value>2 && value<4, 'label-success': value>=4}" ng-show="overStar && !isReadonly">{{rate}}</span>-->