<div class="table-responsive container-fluid">
    <form>
        <div style="width: 500px" class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input style="width: 500px" type="text" class="form-control" placeholder="Search Dishes" ng-model="searchDish">
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead style="background-color: #44BBFF; color: #fff; font-size: larger;">
            <tr>
                <td><span ng-click="sortType = 'title'; sortReverse = !sortReverse">Title
                        <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                    </span>
                </td>
                <td><span ng-click="sortType = 'type'; sortReverse = !sortReverse">Type
                        <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
                    </span>
                </td>
                <td><span ng-click="sortType = 'stars'; sortReverse = !sortReverse">Rating
                        <span ng-show="sortType == 'stars' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'stars' && sortReverse" class="fa fa-caret-up"></span>
                    </span>
                </td>
                <td>
                    <span>Fridge to Fork</span>
                </td>
                <td><span>Manage Dish</span>
                </td>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="dish in myDishes | orderBy:sortType:sortReverse | filter:searchDish track by $index">
                <td>
                    <img ng-src="{{dish.img}}" width="50">
                    <a style="margin-right: 5px" ng-href="/#/manage-dishes/{{dish.$id}}">
                        <span class="dark-blue" style="font-weight: bold;">{{dish["title"]}}</span></a>
                </td>
                <td><span class="salmon" style="font-weight: bold;">{{dish.type}}</span></td>
                <td>
                    <uib-rating ng-if="dish.stars" style="color: #FF8F00;" ng-model="dish.stars" rating-states="ratingStates" read-only="true"
                        titles="['one','two','three']" aria-labelledby="default-rating" ng-readonly="dish.stars"></uib-rating>
                </td>
                <td><span ng-if="dish.prepTime || dish.cookTime" class="green" style="font-weight: bold;">{{dish.prepTime + dish.cookTime}} mins</span></td>
                <td>
                    <a ng-href="/#/manage-dishes/dish-edit/{{dish.$id}}" class="btn btn-light-blue"><i class="fa fa-edit"></i></a>
                    <a ng-href="/#/manage-dishes/dish-edit/{{dish.$id}}" class="btn btn-salmon"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>