.our-picture{
    height: 300px;
}

.media-spacers{
    margin:20px;
}

.ingredient-spacers{
   margin-right: 8px;
   margin-bottom: 8px;
   background: #ECF0F1;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#ECF0F1;
  height: 1px;
}

.panel-color{
    background: #ECF0F1;
}

.btn-blue{
    background:#112233;
    color:white;
}

.btn-salmon{
    background:#FC575E;
    color:white;
}

.btn-blue:hover{
    color:#FC575E
}

.btn-salmon:hover{
    color:#112233
}

.small-spacer{
    margin-bottom: 10px;
    padding:0px;
}


.panel-ingredients{
    background: #ECF0F1;
    margin-right:4px;
}

.mobile-picture{
    height:300px
}

.instructions-mobile{
    font-size:2em;
}

/*dish edit css*/

.input-custom{
    width:300px;
}

.input-small{
    width:70px;
}

.nutrition-edit{
    width:70px
}