<!--desktop view-->
<div ng-if="!check">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 panel">
            <!--top media part-->
            <div>
                <!--image-->
                <div class="media">
                    <div class="media-left media-middle">
                        <img class="media-object our-picture" ng-src="{{dish.img}}" alt="{{dish.title}}"></img>
                    </div>
                    <!--title-->
                    <div class="media-body text-center">
                        <h1 class="media-heading media-spacers">{{dish.title}}</h1>
                        <!--stars-->
                        <div class="media-spacers">
                            <uib-rating ng-if="dish.stars" ng-model="dish.stars" rating-states="ratingStates" read-only="true" titles="['one','two','three']"
                            aria-labelledby="default-rating" ng-readonly="dish.stars"></uib-rating>
                        </div>
                        <!--dish type-->
                        <div class="media-spacers">
                            <p ng-if="dish.type">{{dish.type}}</p>
                        </div>
                        <!--fridge to fork-->
                        <p ng-if="dish.prepTime && dish.cookTime" class="media-spacers"> Prep Time: {{dish.prepTime}} + Cook Time: {{dish.cookTime}} = Fridge to Fork: {{dish.prepTime + dish.cookTime}} minutes</p>
                    </div>
                </div>
            </div>

            <hr>

            <!--ingredients-->
            <div class="col-sm-12 small-spacer">
                <div>
                    <h4 class="col-sm-12 small-spacer">Ingredients:</h4>
                    <div class="col-sm-3 ingredient-spacers" ng-repeat="ingredient in dish.ingredients">
                        <div ng-if="!ingredient.qty && !ingredient.unit" style="width: 50px" class="ingredient">
                            {{ingredient}}
                        </div>
                        <div ng-if="ingredient.qty" style="width: 50px" class="ingredient">
                            {{ingredient.qty}}
                        </div>
                        <div ng-if="ingredient.unit" style="width: 100px" class="ingredient">
                            {{ingredient.unit}}
                        </div>
                        <div ng-if="ingredient.name" style="width: 200px" class="ingredient">
                            {{ingredient.name}}
                        </div>
                    </div>
                </div>
            </div>

            <!--instructions-->
            <hr>

            <div class="col-sm-12 small-spacer">
                <div>
                    <h4>Instructions:</h4>
                    <div class="panel-color instructions-spacer">
                        <href ng-bind-html="dish.instructions"></href>
                    </div>
                </div>
            </div>
            <!--nutritional info-->
            <div ng-if="dish.nutrientFacts" class="small-spacer">
                <h4 class="col-sm-12 small-spacer">Nutritional Info:</h4>
                <span style="display: inline"></span>
                <span ng-if="dish.nutrientFacts[22]" class="panel panel-ingredients">Calories: {{dish.nutrientFacts[22].total | limitTo : 5}} {{dish.nutrientFacts[22].unit}}</span>
                <span class="panel panel-ingredients">Calcium: {{dish.nutrientFacts[5].total | limitTo : 5}} {{dish.nutrientFacts[5].unit}}</span>
                <span class="panel panel-ingredients">Total Fat: {{dish.nutrientFacts[0].total| limitTo : 5}}  {{dish.nutrientFacts[0].unit}}</span>
                <span ng-if="dish.nutrientFacts[23]" class="panel panel-ingredients">Saturated Fats: {{dish.nutrientFacts[23].total | limitTo : 5}} {{dish.nutrientFacts[23].unit}} </span>
                <span class="panel panel-ingredients">Cholesterol: {{dish.nutrientFacts[3].total | limitTo : 5}} {{dish.nutrientFacts[3].unit}}</span>
                <span class="panel panel-ingredients">Carbohydrates: {{dish.nutrientFacts[1].total | limitTo : 5}} {{dish.nutrientFacts[1].unit}}</span>
                <span class="panel panel-ingredients">Protein: {{dish.nutrientFacts[2].total | limitTo : 5}} {{dish.nutrientFacts.PROCNT.unit}}</span>
                <span ng-if="dish.nutrientFacts[24]" class="panel panel-ingredients">Fiber: {{dish.nutrientFacts[24].total | limitTo : 5}} {{dish.nutrientFacts[24].unit}}</span>
                <span class="panel panel-ingredients">Sodium: {{dish.nutrientFacts[4].total | limitTo : 5}} {{dish.nutrientFacts[4].unit}}</span>
                <span class="panel panel-ingredients">Potassium: {{dish.nutrientFacts[7].total | limitTo : 5}} {{dish.nutrientFacts[7].unit}} </span>
                <span class="panel panel-ingredients">Iron: {{dish.nutrientFacts[8].total | limitTo : 5}} {{dish.nutrientFacts[8].unit}}</span>
                </span>
            </div>
            <div ng-if="dish.nutritionFacts">
                <h4 class="col-sm-12">Nutritional Info:</h4>
                <span style="display: inline"></span>
                <span class="panel nutr">Calcium: {{dish.nutritionInfo[0].Calories}}</span>
                <span class="panel nutr">Total Fat: {{dish.nutritionInfo[0].TotalFat}}</span>
                <span class="panel nutr">Saturated Fats: {{dish.sfat}}</span>
                <span class="panel nutr">Cholesterol: {{dish.cholesterol}}</span>
                <span class="panel nutr">Carbohydrates: {{dish.carbohydrates}}</span>
                <span class="panel nutr">Protein: {{dish.protein}}</span>
                <span class="panel nutr">Fiber: {{dish.fiber}}</span>
                <span class="panel nutr">Sodium: {{dish.sodium}}</span>
                <span class="panel nutr">Potassium: {{dish.potassium}}</span>
                <span class="panel nutr">Iron: {{dish.iron}}</span>
                </span>
            </div>

            <!--edit recipe button-->
            <div class="col-sm-12">
                <a class="btn btn-blue center-block" ng-href="/#/manage-dishes/dish-edit/{{dish.$id}}">Edit Recipe</a>
            </div>
        </div>
    </div>
</div>

<!--mobile view-->
<div ng-if="check">

    <div class="row">
        <div class="col-xs-12 panel">
            <!--top media part-->
            <div>
                <!--img-->
                <div class="media">
                    <div class="media-middle">
                        <img class="media-object mobile-picture" ng-src="{{dish.img}}" alt="{{dish.title}}"></img>
                    </div>
                    <!--title-->
                    <div class="row align-center">
                        <h1>{{dish.title}}</h1>
                        <!--stars-->
                        <div class="row align-center">
                            <uib-rating ng-if="dish.stars" ng-model="dish.stars" rating-states="ratingStates" read-only="true" titles="['one','two','three']"
                            aria-labelledby="default-rating" ng-readonly="dish.stars"></uib-rating>
                        </div>
                        <!--dish type-->
                        <div class="media-spacers">
                            <p ng-if="dish.type">{{dish.type}}</p>
                        </div>
                        <!--fridge to fork-->
                        <p ng-if="dish.prepTime && dish.cookTime" class="row align-center"> Prep Time: {{dish.prepTime}} + Cook Time: {{dish.cookTime}} = Total Time: {{dish.prepTime + dish.cookTime}}</p>
                    </div>
                </div>
            </div>

            <hr>

            <!--ingredients-->
            <div class="col-sm-12 small-spacer">
                <div>
                    <h4 class="col-sm-12 small-spacer">Ingredients:</h4>
                    <div class="col-sm-3 ingredient-spacers" ng-repeat="ingredient in dish.ingredients">
                        <div ng-if="!ingredient.qty && !ingredient.unit" style="width: 50px" class="ingredient">
                            {{ingredient}}
                        </div>
                        <div ng-if="ingredient.qty" style="width: 50px" class="ingredient">
                            {{ingredient.qty}}
                        </div>
                        <div ng-if="ingredient.unit" style="width: 100px" class="ingredient">
                            {{ingredient.unit}}
                        </div>
                        <div ng-if="ingredient.name" style="width: 200px" class="ingredient">
                            {{ingredient.name}}
                        </div>
                    </div>
                </div>
            </div>

            <!--instructions-->
            <hr>

            <div class="col-sm-12 small-spacer">
                <div>
                    <h4>Instructions:</h4>
                    <div class="panel-color instructions-spacer instructions-mobile">
                        <div ng-bind-html="dish.instructions"></div>
                    </div>
                </div>
            </div>
            <!--nutritional info-->
            <div ng-if="dish.nutrientFacts" class="small-spacer">
                <h4 class="col-sm-12 small-spacer">Nutritional Info:</h4>
                <span style="display: inline"></span>
                <span class="panel panel-ingredients">Calories: {{dish.nutrientFacts[22].total | limitTo : 5}} {{dish.nutrientFacts[22].unit}}</span>
                <span class="panel panel-ingredients">Calcium: {{dish.nutrientFacts[5].total | limitTo : 5}} {{dish.nutrientFacts[5].unit}}</span>
                <span class="panel panel-ingredients">Total Fat: {{dish.nutrientFacts[0].total| limitTo : 5}}  {{dish.nutrientFacts[0].unit}}</span>
                <span class="panel panel-ingredients">Saturated Fats: {{dish.nutrientFacts[23].total | limitTo : 5}} {{dish.nutrientFacts[23].unit}} </span>
                <span class="panel panel-ingredients">Cholesterol: {{dish.nutrientFacts[3].total | limitTo : 5}} {{dish.nutrientFacts[3].unit}}</span>
                <span class="panel panel-ingredients">Carbohydrates: {{dish.nutrientFacts[1].total | limitTo : 5}} {{dish.nutrientFacts[1].unit}}</span>
                <span class="panel panel-ingredients">Protein: {{dish.nutrientFacts[2].total | limitTo : 5}} {{dish.nutrientFacts.PROCNT.unit}}</span>
                <span class="panel panel-ingredients">Fiber: {{dish.nutrientFacts[24].total | limitTo : 5}} {{dish.nutrientFacts[24].unit}}</span>
                <span class="panel panel-ingredients">Sodium: {{dish.nutrientFacts[4].total | limitTo : 5}} {{dish.nutrientFacts[4].unit}}</span>
                <span class="panel panel-ingredients">Potassium: {{dish.nutrientFacts[7].total | limitTo : 5}} {{dish.nutrientFacts[7].unit}} </span>
                <span class="panel panel-ingredients">Iron: {{dish.nutrientFacts[8].total | limitTo : 5}} {{dish.nutrientFacts[8].unit}}</span>
            </div>
            <div ng-if="dish.nutritionFacts">
                <h4 class="col-sm-12">Nutritional Info:</h4>
                <span style="display: inline"></span>
                <span class="panel nutr">Calcium: {{dish.nutritionInfo[0].Calories}}</span>
                <span class="panel nutr">Total Fat: {{dish.nutritionInfo[0].TotalFat}}</span>
                <span class="panel nutr">Saturated Fats: {{dish.sfat}}</span>
                <span class="panel nutr">Cholesterol: {{dish.cholesterol}}</span>
                <span class="panel nutr">Carbohydrates: {{dish.carbohydrates}}</span>
                <span class="panel nutr">Protein: {{dish.protein}}</span>
                <span class="panel nutr">Fiber: {{dish.fiber}}</span>
                <span class="panel nutr">Sodium: {{dish.sodium}}</span>
                <span class="panel nutr">Potassium: {{dish.potassium}}</span>
                <span class="panel nutr">Iron: {{dish.iron}}</span>
                </span>
            </div>

            <!--edit recipe button-->
            <div class="col-sm-12">
                <a class="btn btn-blue center-block" ng-href="/#/manage-dishes/dish-edit/{{dish.$id}}">Edit Recipe</a>
            </div>
        </div>
    </div>
</div>
</div>
    
