
{{dish}}
{{dishList}}
{{dish["title"]}}
{{member.email}}
{{dish.title}}
{{dish.nutrientFacts}}
{{title}}
<!--<div> </div>
<div class="row">
    <div class="col-sm-8 recipeCard">
        <img class="img" height="120" src="{{dish.img}}" alt="{{dish.title}">
        <img style="height:60px; margin-bottom: 5px;" src="{{dish.img}}" alt="Dish pic here"> 
        <p>http://foodnetwork.sndimg.com/content/dam/images/food/fullset/2008/4/23/0/RB0106_Citrus-Baked-Salmon.jpg.rend.sni12col.landscape.jpeg</p>
        <h2>{{dish.title}}</h2>
        <br> Prep Time: {{dish.prepTime}} + Cook Time: {{dish.cookTime}} = Total Time: {{dish.prepTime + dish.cookTime}}
        <br>
        <div <div class="panel" ng-repeat="ingredient in ingredients">
           <p>{{dish.ingredient}}</p>

            <p>8 slices fresh lemon, 8 slices fresh orange, 4 (6 to 8-ounce) skinless salmon fillets, Sea salt and freshly ground
                black pepper, 4 tbs freshly chopped dill, 4 tbs sun-dried tomatoes in oil, plus 1 tablespoon oil from jar
                , 2 cups white wine
    
        <p> {{dish.nutrientFacts}}</p>
    </div>
</div>-->