/*.ingredient-panel {
    margin-bottom: 08px!;
    margin-right: 10px!;
    background-color: #fff!;
    border: 1px solid transparent !;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05)!;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)!;
}*/
.dish-title{
    font-size: 18;
    font-weight: bold;
     
}
.img-card{

    width:150px; 
    align-content:center; 
    margin:5px;
    min-height: 150px;
    /*min-width: 221;*/
    background-size:100% 100%;
    background-repeat:no-repeat;
    text-align: center;
}
.public-card{
    background-color:#CF000F;
    margin-left: 7px;
    min-height: 200px;
    max-width: 208px;
    /*max-height: 275px;*/
    
}
.instructions{
    max-width: 400px;
}
.top{
    background-color:#CF000F;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    background-position: center;
}