<div class="row">
    <span style="text-align: center; display: inline;"><span> <h2>{{dish.title}}</h2></span>
    <div style="text-align: center; margin-bottom:10px;"><img class="img" height="120" src="{{dish.img}}" alt="{{dish.title}"></div>
    </span>
</div>
<span>
     <!---->
    <div class="col-sm-12">
        <div style="text-align: center" class="row">
         Prep Time: {{dish.prepTime}} + Cook Time: {{dish.cookTime}} = Total Time: {{dish.prepTime + dish.cookTime}}
        </div>
        <div style="text-align: center">
            Dish Stars:{{dish.stars}}
        </div>
        <h4>Ingredients:</h4>
        <div style="margin-right: 8px; margin-bottom: 8px" class="col-sm-3 panel container-fluid" ng-repeat="ingredient in dish.ingredients">
           {{ingredient}} 
        </div>
        </div>
</span>
<div class="col-sm-12">
<div>
    <h4>Instructions:</h4>
    <div class="panel">
        {{dish.instructions}}
    </div>
</div>
<span style="display: inline">
    <div>Calories: {{dish.nutritionInfo[0].Calories}}</div>
    <div>Total Fat: {{dish.nutritionInfo[0].TotalFat}}</div>
    <div>Saturated Fats: {{dish.sfat}}</div>
    <div>Cholesterol: {{dish.cholesterol}}</div>
    <div>Carbohydrates: {{dish.carbohydrates}}</div>
    <div>Protein: {{dish.protein}}</div>
    <div>Fiber: {{dish.fiber}}</div>
    <div>Sodium: {{dish.sodium}}</div>
    <div>Potassium: {{dish.potassium}}</div>
    <div>Calcium: {{dish.calcium}}</div>
    <div>Iron: {{dish.iron}}</div>
    </div>
</span>