<!--<div class="row text-center">
    <div class="col-sm-12 pagination-centered">
        <div class="col-sm-2 panel panel-default public-card" ng-repeat="dish in indatabase">
               <a ng-href="/#/public-dishes/{{dish.$id}}" class="text-center">
            <div>
                    {{dish.title}}
            </div>
            <img class="img-card" style="background-image: url({{dish.img}})">
            </img>
               </a>
        </div>
    </div>
</div>-->
<!--start new-->
<div class="container">
    <div class="list-group">
        <div class="list-group-item" ng-repeat="dish in indatabase">
				<div class="row">
					<div class="media"> 
						<div class="col-sm-5" style="padding-left: 18px; max-height: 300px">
                            <div>
							<img class ="timsPic" ng-src="{{dish.img}}"/> 
                            </div>
						</div> 
						<div class="col-sm-7" style="display: inline; padding: 8px;">
							<span>
								<h3>{{dish.title}}</h3>
							</span>
                        <div style="overflow-y:scroll; max-height: 300px" ng-bind-html="dish.instructions"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class = "panel-body" style = "overflow-y:scroll; max-height 300px">
                    <div class="col-sm-4 row"  ng-repeat="ingredient in dish.ingredients track by $index">
                        <!--<div class="col-sm-4" style="float: left; margin-top: 10px;" ng-repeat="ingredients in dish.ingredients">	-->
                         <div ng-if="!ingredient.qty && !ingredient.unit" style="width: 50px" class="ingredient">
                            {{ingredient}}
                        </div>
                        <div ng-if="ingredient.qty" style="width: 50px" class="ingredient">
                            {{ingredient.qty}}
                        </div>
                        <div ng-if="ingredient.unit" style="width: 100px" class="ingredient">
                            {{ingredient.unit}}
                        </div>
                        <div ng-if="ingredient.name" style="width: 200px" class="ingredient">
                            {{ingredient.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div style="overflow-y:scroll; max-height: 300px">
                
            <div class="panel-body"> <span ng-repeat="nutrient in dish.nutrientFacts">
                        <span style="font-weight: bold"> {{nutrient.label}}</span> : {{nutrient.total | number: 1}}{{nutrient.unit}},
                </span>
            </div>
            </div>
            <button style="display: inline;text-align: center; margin-top: 3px; margin-bottom: 3px margin-right:3px;" class="btn btn-sm btn-light-blue"
            ng-click="saveRecipe(dish)">Add to my Recipes</button>
        </div>
    </div>
</div>
<!--end new-->