<div class="row text-center">
    <div class="col-sm-12 pagination-centered">
        <div class="col-sm-2 panel panel-default public-card" ng-repeat="dish in indatabase">
               <a ng-href="/#/public-dishes/{{dish.$id}}" class="text-center">
            <div>
                    {{dish.title}}
            </div>
            <img class="img-card" style="background-image: url({{dish.img}})">
            </img>
               </a>
        </div>
    </div>
</div>


<h1>Resting at the API-Controller</h1> <input ng-model="query" type="text"> <button ng-click="findDishes()">Search Recipes</button>
<div class="list-group">
	<div class="col-sm-2 panel panel-default public-card" ng-repeat="dish in results">
		<div class="media">
			<div class="media-left"> 
				<img class="media-object" ng-src="{{dish.img}}" width="120" />
			</div>
			<div class="media-content" ng-bind="dish.ingredients"> 
				{{dish.ingredients}}
			</div>
			<h3 class="media-heading; text-center">{{dish.name}}</h3>
			<div class="media-content">
				<a>{{dish.instructions}}</a>
				<a ng-href="/#/manage-dishes/dish-edit/{{dish.$id}}" class="badge">Edit Dish</a>
				
			</div>
		</div>
	</div>
</div>