/*BEGIN: DISHCREATION CSS CONTENT*/

.recipeInput{
    background-color: lightblue;
    border: 5 px solid black;
    text-align: left;
    height: 75%;
    width: 31.333333%;
}
.input{
    margin: 3px;
}
.recipeCard{
    background-color: papayawhip;
    border: 5 px solid black;
    text-align: left;
    width: 65.666666%;
    height: 75%;
}
/*END: DISHCREATION CSS CONTENT*/



/*Start Manage Dishes CSS Content*/

.navbar-brand:hover{
    background-color:black !important;
}

