<div class="col-sm-7 recipeInput">
    <button type="button" ng-click="clearRecipe()" class="btn btn-danger input">Clear Recipe (incomplete)</button>
    <form class="form" ng-submit="createDish(newDish)">
        <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-control" type="text" ng-model="newDish.title" placeholder="Recipe Title" />
        </div>
        <div class="form-group">
            <label for="imgUrl">Dish Image:</label>
            <input class="form-control" type="url" ng-model="newDish.img" value="00" />
        </div>
        <div class="form-group">
            <label for="prepTime">Prep Time (minutes):
            <input class="form-control" type="number" ng-model="newDish.prepTime" value="00" />
        </div>
        <div class="form-group">
            <label for="cookTime">Cook Time (minutes):
            <input class="form-control" type="number" ng-model="newDish.cookTime" value="00" />
        </div>
        
        <!-- Ingredianet strat-->
        
        <div class="form-group ingredient">
            <label class = "ingredient">Quantity
            <input class = "ingredient" style = "width: 50px" class="form-control" type="text" ng-model="newIngredient.qty" placeholder="Qty" />
            <label class = "ingredient">Unit of Measure
                <!--drop down for unit of measurement-->
            <select style = "width: 150px" ng-model="newIngredient.unit" class="form-control ingredient">
                <option>each</option>
                <option>piece</option>
                <option>pack</option>
                <option>bunch</option>
                <option>roll</option>
                <option>dozen</option>
                
                <option>lbs</option>
                <option>qt</option>
                <option>oz</option>
                <option>pt</option>
                <option>cup</option>
                <option>tbs</option>
                <option>tsp</option>
                
            </select>
            <!--end dropdown-->
            <label>Ingredients: (this section assists in creating the grocery list)
            <input class="form-control ingredient" type="text" ng-model="newIngredient.name" placeholder="ingedients" />
             <button class="btn btn-default" type="button" ng-click="addIngredient(newIngredient)">add ingredient</button>
            <!--
                <button class="btn btn-default" type="button" 
                ng-init="newDish.ingredients = newDish.ingredients || [] " 
                ng-click="newDish.ingredient.push(newIngredient);
                 clearSearch()">
                 add ingredient</button>-->
      
        </div>
        <!--ingredient end-->
        <div class="form-group">
            <label>Type of Dish
            <select ng-model="newDish.type" class="form-control">
                <option>Appetizer</option>
                <option>Salad</option>
                <option>Side</option>
                <option>Main Dish</option>
                <option>Dessert</option>
            </select>
        </div>
        <!-----SUMMERNOTE  WORKING ----->
        <div class="form-group">
            <label for="instructons">Instructions:</label>
           
            <div ng-model="newDish.instructions" summernote></div>
        </div>

        <div>
            <h4>Recipe Rating</h4>
            <uib-rating ng-model="newDish.stars" rating-states="ratingStates" max="max" read-only="isReadonly" on-hover="hoveringOver(value)"
            on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
            <div>
                <button type="button" class="btn btn-sm btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">Clear</button>
                <button type="submit" class="fc-state-default">Create Dish</button>                
            </div>
        </div>
    </form>
</div>
    <!--Begin view of build-->

<div class="col-sm-4 recipeCard">
    <img class="img" height="120" ng-src="{{newDish.img}}" alt="picture goes here">
    <div>
        <h2>{{newDish.title}}</h2> Prep Time: {{newDish.prepTime}} + Cook Time: {{newDish.cookTime}} = Total Time: {{newDish.prepTime + newDish.cookTime}}  Minutes
    </div>
    <p><b>Dish type: {{newDish.type}}</b></p>
    <div <div class="panel">
        <p><b>Ingredients:</b></p>
        <div>
            <ul>
                <li ng-repeat="i in newDish.ingredients">
                    {{i.qty}}
                    {{i.unit}}
                    {{i.name}}
                    </li>
            </ul>
        </div>
    </div>
    <p><b>Instructions:</b>{{newDish.instructions}}</p>
    <p>Nutritional Information: {{newDish.nutrientFacts}}</p>
</div>
<!--end view of build-->