<div class="container-fluid">
    <h4 style="margin-top: 10px; margin-bottom: 0px;">
Resting at the Dish Creation page
</h4>
    <div class="col-sm-3 recipeInput min-height: 1000px">
        <form ng-submit="createRecipe()" class="recipeInput">
            <div>
                <button type="button" ng-click="clearRecipe()" class="btn btn-danger input">Clear Recipe (incomplete)</button>
                <input class="input" ng-model="newDish.title" type="text" placeholder="Enter Dish Name">
                <input class="input" ng-model="newDish.img" type="url" placeholder="Paste Image UL here">
                <div class="inline-block">
                <label>Prep Time: </label>
                <input class="input" ng-model="newDish.prepTime" type="number" value="00" placeholder="MM"/>
                
                <label>Cook Time: </label>
                <input class="input" ng-model="newDish.cookTime" type="number" value="00" placeholder="MM"/>
                </div>
                <br>
<!--Will this work a submit button inside a form???-->
                <label>Ingredients: </label>
                <input class="input"  ng-model="newDish.ingredients" type="text" placeholder="Enter ingredients separated by a comma" />
                <button ng-click="addIngredient()">Add Ingredient</button>
                <br>
                <label ui-sref="home">Instructions: </label>
                <input class="input" ng-model="newDish.instructions" type="text" placeholder="Enter/Paste instructions" />
                <br>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-8 recipeCard">
            <img class="img" height="120" src="{{newDish.img}}" alt="{{newDish.title}">
            <h2>{{newDish.title}}</h2>
            <br> Prep Time: {{newDish.prepTime}} + Cook Time: {{newDish.cookTime}} = Total Time: {{newDish.prepTime + newDish.cookTime}}
            <br>
            <div <div class="panel" ng-repeat="ingredient in ingredients">
            <b>Ingredients:</b>
                <p>{{newDish.ingredient}}</p>
            </div>
            <b>Instructions: </b></p>{{newDish.instructions | }}</p>
            <p> Nutritional Information: {{newDish.nutrientFacts}}</p>
            <button ng-click="addRecipe(newRecipe)" class="btn btn-info">Save (incomplete)</button>
        </div>
    </div>
</div>