.recipeInput{
    background-color: lightblue;
    border: 5 px solid black;
    text-align: left;
    height: 100%;
    width: 33.333333%;
}
.input{
    margin: 2px;
}
.recipeCard{
    background-color: papayawhip;
    border: 5 px solid black;
    text-align: left;
    width: 66.666666%;
    height: 100%;
    
}