<body>

    <nav class="navbar navbar-default acc-color-dark-blue font-color-red">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar font-color-red"></span>
                    <span class="icon-bar font-color-red"></span>
                    <span class="icon-bar font-color-red"></span>
                </button>
                <a class="navbar-brand navbar-kitchen-manager">Kitchen Manager</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/" class="font-color">Home</a></li>
                    <li><a href="#/dish-creation" class="font-color">Create Dish</a></li>
                    <li><a href="#/profile" class="font-color">Update Profile</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="panel-body container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam dolore animi ipsam! Amet officia repudiandae voluptatem
            aliquid magni, quaerat tempora non. Laboriosam facilis ad magni et mollitia sint error! Sapiente.</p>
    </div>


    <div class="panel-body container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis exercitationem nulla dolor eaque error, magni
            culpa, accusamus, praesentium, nesciunt ducimus eius? Explicabo reprehenderit odit velit ipsam asperiores sunt
            eius fugiat. Libero repellendus repellat porro dicta dignissimos quo sunt voluptatibus quod fugit asperiores,
            perspiciatis esse ipsa minus similique. Placeat doloremque laudantium, nisi deserunt quos, repellendus unde error,
            laborum, modi assumenda illum ex molestias. Cum totam minus, perferendis quasi, ducimus ullam voluptates vel
            optio magni, delectus temporibus eligendi assumenda at necessitatibus. Temporibus reprehenderit blanditiis itaque
            optio. Nulla voluptas, porro sed et quaerat, impedit, explicabo odio sunt perspiciatis illo, officiis dolorum
            autem! Neque ut nesciunt assumenda ipsum delectus voluptatem illum quia eum, culpa enim. Modi aperiam recusandae
            nam nisi quas maxime commodi voluptatibus omnis ullam sed vel, iure obcaecati repellendus eveniet rem magni iste,
            possimus cumque quia ipsa tempore fugit? Officiis, repellat magnam dicta quos voluptatibus esse quas id quaerat
            nemo quasi animi odio deserunt eveniet cupiditate eos qui molestias amet ut quo illum sit facilis! Mollitia perferendis
            ratione nihil quos excepturi perspiciatis, praesentium aperiam, alias atque quam pariatur, impedit! Dolores eligendi
            temporibus, doloremque modi id ea ipsam magni voluptate, voluptas natus enim nihil laudantium, explicabo quo.
            Officiis, recusandae molestias mollitia error maiores.
        </p>
    </div>

    <div class="panel-body-transparent">
        <button class="button btn">This is a button</button>

        <button class="button-inverse btn">This is an inverse button</button>
    </div>


</body>




<!--<div class="col-sm-6 login">-->
    <!--<form ng-submit="login()">-->
    <!--<div>
        <h4 style="margin-top: 10px; margin-bottom: 0px;">
                Resting at the Manage Dishes page
                
            </h4>
        <div ng-repeat="dish in dishes" class="panel">

            <ul>
                <li>
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="{{dish.img}}">
                                <img class="media-object" src="{{dish.img}}" alt="{{dish.title}}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.title}}</h2> ...
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <button ui-sref="home">Go Home</button>
        <button ui-sref="dishCreation">Create Dishes</button>
        <button ui-sref="profile">Update Profile</button>
    </div>
    </form>

</div>-->

<!---------------------------------->

