<body>

    <nav class="navbar navbar-default acc-color-dark-blue font-color-red">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar font-color-red"></span>
                    <span class="icon-bar font-color-red"></span>
                    <span class="icon-bar font-color-red"></span>
                </button>
                <a class="navbar-brand navbar-kitchen-manager">Kitchen Manager</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/" class="font-color">Home</a></li>
                    <li><a href="#/dish-creation" class="font-color">Create Dish</a></li>
                    <li><a href="#/profile" class="font-color">Update Profile</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="panel-body container-fluid">
        <h1>My Recipes</h1>
        <div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="recipe in recipies track by $index">{{recipe.title}}<span class="badge" ng-click="removeRecipe($index)">X</span><span class="badge" ng-click="editRecipe()">Edit Recipe</span></li>
            </ul>
        </div>
    </div>

    <!--<div class="panel-body-transparent">
        <button class="button btn">This is a button</button>

        <button class="button-inverse btn">This is an inverse button</button>
    </div>-->

</body>




<!--<div class="col-sm-6 login">-->
    <!--<form ng-submit="login()">-->
    <!--<div>
        <h4 style="margin-top: 10px; margin-bottom: 0px;">
                Resting at the Manage Dishes page
                
            </h4>
        <div ng-repeat="dish in dishes" class="panel">

            <ul>
                <li>
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="{{dish.img}}">
                                <img class="media-object" src="{{dish.img}}" alt="{{dish.title}}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.title}}</h2> ...
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <button ui-sref="home">Go Home</button>
        <button ui-sref="dishCreation">Create Dishes</button>
        <button ui-sref="profile">Update Profile</button>
    </div>
    </form>

</div>-->

<!---------------------------------->

